In [1]:
from google.transit import gtfs_realtime_pb2
import requests
import pandas as pd
import google.protobuf
from google.protobuf.json_format import MessageToJson
from google.protobuf.json_format import MessageToDict

#https://mayors-ic.github.io/examples/gtfs-example.html
#https://stackoverflow.com/questions/65816113/how-to-convert-gtfs-rt-trip-updates-data-to-a-dataframe

In [2]:
feed = gtfs_realtime_pb2.FeedMessage()
api_key = {'apikey':['ceDOlkSthiAZ5pOZsfWL']}

response = requests.get('https://gtfsapi.translink.ca/v3/gtfsrealtime', params=api_key)
feed.ParseFromString(response.content)
trip_data = MessageToDict(feed)
trip_update = pd.json_normalize(trip_data['entity'])


response = requests.get('https://gtfsapi.translink.ca/v3/gtfsposition', params=api_key)
feed.ParseFromString(response.content)
position_data = MessageToDict(feed)
position_update = pd.json_normalize(position_data['entity'])


response = requests.get('https://gtfsapi.translink.ca/v3/gtfsalerts', params=api_key)
feed.ParseFromString(response.content)
service_data = MessageToDict(feed)
service_alerts = pd.json_normalize(service_data['entity'])

In [3]:
trip_update

,id,isDeleted,tripUpdate.trip.tripId,tripUpdate.trip.startDate,tripUpdate.trip.scheduleRelationship,tripUpdate.trip.routeId,tripUpdate.trip.directionId,tripUpdate.stopTimeUpdate,tripUpdate.vehicle.id,tripUpdate.vehicle.label
0,13997836,False,13997836,20241102,SCHEDULED,6612,0,"[{'stopSequence': 14, 'arrival': {'delay': 110...",8123,8123
1,13997837,False,13997837,20241102,CANCELED,NaN,0,"[{'stopSequence': 10, 'stopId': '10542', 'sche...",NaN,NaN
2,13997846,False,13997846,20241102,SCHEDULED,6612,0,"[{'stopSequence': 7, 'arrival': {'delay': 4149...",21020,21020
3,13997848,False,13997848,20241102,SCHEDULED,6612,0,"[{'stopSequence': 26, 'arrival': {'delay': 263...",21008,21008
4,13997849,False,13997849,20241102,SCHEDULED,6612,0,"[{'stopSequence': 2, 'arrival': {'delay': 942,...",8132,8132
...,...,...,...,...,...,...,...,...,...,...
743,14037129,False,14037129,20241102,CANCELED,6713,0,"[{'stopSequence': 1, 'stopId': '6984', 'schedu...",NaN,NaN
744,14043139,False,14043139,20241102,CANCELED,6728,0,"[{'stopSequence': 2, 'stopId': '8324', 'schedu...",NaN,NaN
745,14046398,False,14046398,20241102,CANCELED,12940,0,"[{'stopSequence': 1, 'stopId': '7743', 'schedu...",NaN,NaN
746,14057567,False,14057567,20241102,CANCELED,37810,0,"[{'stopSequence': 1, 'stopId': '12361', 'sched...",NaN,NaN
747,14124830,False,14124830,20241102,CANCELED,6636,0,"[{'stopSequence': 1, 'stopId': '12362', 'sched...",NaN,NaN

In [4]:
position_update

,id,vehicle.trip.tripId,vehicle.trip.startDate,vehicle.trip.scheduleRelationship,vehicle.trip.routeId,vehicle.trip.directionId,vehicle.position.latitude,vehicle.position.longitude,vehicle.currentStopSequence,vehicle.currentStatus,vehicle.timestamp,vehicle.stopId,vehicle.vehicle.id,vehicle.vehicle.label
0,14121835,14121835,20241102,SCHEDULED,30055,0,49.286682,-123.140580,1,IN_TRANSIT_TO,1730592486,1,19541,19541
1,13999400,13999400,20241102,SCHEDULED,6615,0,49.286100,-123.117680,9,IN_TRANSIT_TO,1730592467,31,2119,2119
2,14001066,14001066,20241102,SCHEDULED,6618,0,49.284985,-123.111520,1,IN_TRANSIT_TO,1730592511,35,2572,2572
3,14002240,14002240,20241102,SCHEDULED,6620,0,49.284782,-123.110870,41,IN_TRANSIT_TO,1730592505,35,2562,2562
4,14317236,14317236,20241102,SCHEDULED,6617,0,49.282900,-123.106500,36,IN_TRANSIT_TO,1730592506,36,2122,2122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,14019057,14019057,20241102,SCHEDULED,6657,1,49.278435,-122.912450,1,IN_TRANSIT_TO,1730592225,12972,24124,24124
813,14123955,14123955,20241102,SCHEDULED,11696,0,49.047417,-123.104180,20,IN_TRANSIT_TO,1730592451,12994,19525,19525
814,14003818,14003818,20241102,SCHEDULED,6622,1,49.281216,-123.056435,22,IN_TRANSIT_TO,1730592481,13011,2185,2185
815,14007521,14007521,20241102,SCHEDULED,6627,1,49.250134,-123.178400,50,IN_TRANSIT_TO,1730592505,13031,18394,18394
816,14021487,14021487,20241102,SCHEDULED,6665,0,49.260483,-122.891300,28,IN_TRANSIT_TO,1730592518,13034,21556,21556

In [5]:
service_alerts

,id,alert.activePeriod,alert.informedEntity,alert.cause,alert.effect,alert.url.translation,alert.headerText.translation,alert.descriptionText.translation,alert.severityLevel,alert.ttsHeaderText.translation
0,454491,[{'start': '1708864200'}],"[{'agencyId': 'TL', 'routeId': '30053', 'route...",CONSTRUCTION,MODIFIED_SERVICE,[{'text': 'https://www.translink.ca/skytrainex...,[{'text': 'Expo Line service pattern change at...,[{'text': 'Customers travelling on Expo Line t...,WARNING,NaN
1,476979,[{'start': '1710934200'}],"[{'agencyId': 'TL', 'routeId': '6705', 'routeT...",CONSTRUCTION,DETOUR,NaN,[{'text': '321 White Rock Centre detour from W...,[{'text': 'Affected stops: 56136 White Rock C...,WARNING,NaN
2,488399,[{'start': '1714765920'}],"[{'agencyId': 'TL', 'routeId': '30052', 'route...",MAINTENANCE,OTHER_EFFECT,NaN,[{'text': 'The elevator at Millennium Line Bre...,"[{'text': '', 'language': 'en'}]",WARNING,NaN
3,500555,[{'start': '1718390400'}],"[{'agencyId': 'TL', 'routeId': '6779', 'routeT...",CONSTRUCTION,NO_SERVICE,NaN,[{'text': 'Stop 54558 Southbound Nelson Ave @ ...,[{'text': ' Affected routes: 262 250 Servic...,WARNING,"[{'text': 'Stop 5 4 5 5 8, is temporarily cl..."
4,500556,[{'start': '1718390520'}],"[{'agencyId': 'TL', 'routeId': '6779', 'routeT...",CONSTRUCTION,NO_SERVICE,NaN,[{'text': 'Stop 54559 Eastbound Marine Dr @ Ne...,[{'text': ' Affected routes: 262 250 Servic...,WARNING,"[{'text': 'Stop 5 4 5 5 9, is temporarily clo..."
...,...,...,...,...,...,...,...,...,...,...
186,546382,"[{'start': '1730593920', 'end': '1730601780'}]","[{'agencyId': 'TL', 'routeId': '6614', 'routeT...",TECHNICAL_PROBLEM,NO_SERVICE,NaN,[{'text': '4 UBC trip leaving Westbound Eton S...,"[{'text': '', 'language': 'en'}]",WARNING,NaN
187,546383,"[{'start': '1730592360', 'end': '1730596980'}]","[{'agencyId': 'TL', 'routeId': '6614', 'routeT...",OTHER_CAUSE,NO_SERVICE,NaN,[{'text': '4 UBC trip leaving Westbound Eton S...,"[{'text': '', 'language': 'en'}]",WARNING,NaN
188,546384,"[{'start': '1731340800', 'end': '1731358800'}]","[{'agencyId': 'TL', 'routeId': '6723', 'routeT...",DEMONSTRATION,DETOUR,NaN,[{'text': '402 Brighouse Station detour from 8...,"[{'text': ' Service All Stops on Reroute', '...",WARNING,NaN
189,546385,"[{'start': '1730592420', 'end': '1730596800'}]","[{'agencyId': 'TL', 'routeId': '6612', 'routeT...",OTHER_CAUSE,NO_SERVICE,NaN,[{'text': '2 Burrard Station trip leaving East...,"[{'text': '', 'language': 'en'}]",WARNING,NaN
190,546386,"[{'start': '1730592480', 'end': '1730595660'}]","[{'agencyId': 'TL', 'routeId': '6617', 'routeT...",OTHER_CAUSE,NO_SERVICE,NaN,[{'text': '7 Nanaimo Station trip leaving Dunb...,"[{'text': '', 'language': 'en'}]",WARNING,NaN

In [44]:
stop_time = pd.json_normalize(trip_update['tripUpdate.stopTimeUpdate'])
stop_time

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,"{'stopSequence': 14, 'stopId': '73', 'schedule...","{'stopSequence': 15, 'stopId': '75', 'schedule...","{'stopSequence': 16, 'stopId': '29', 'schedule...","{'stopSequence': 17, 'stopId': '12603', 'sched...","{'stopSequence': 18, 'stopId': '30', 'schedule...","{'stopSequence': 19, 'stopId': '31', 'schedule...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"{'stopSequence': 10, 'stopId': '10542', 'sched...","{'stopSequence': 11, 'stopId': '69', 'schedule...","{'stopSequence': 12, 'stopId': '70', 'schedule...","{'stopSequence': 13, 'stopId': '72', 'schedule...","{'stopSequence': 14, 'stopId': '73', 'schedule...","{'stopSequence': 15, 'stopId': '75', 'schedule...","{'stopSequence': 16, 'stopId': '29', 'schedule...","{'stopSequence': 17, 'stopId': '12603', 'sched...","{'stopSequence': 18, 'stopId': '30', 'schedule...","{'stopSequence': 19, 'stopId': '31', 'schedule...",...,None,None,None,None,None,None,None,None,None,None
2,"{'stopSequence': 7, 'stopId': '1273', 'schedul...","{'stopSequence': 8, 'stopId': '1275', 'schedul...","{'stopSequence': 9, 'stopId': '1276', 'schedul...","{'stopSequence': 10, 'stopId': '1277', 'schedu...","{'stopSequence': 11, 'stopId': '1279', 'schedu...","{'stopSequence': 12, 'stopId': '56', 'schedule...","{'stopSequence': 13, 'stopId': '12619', 'sched...","{'stopSequence': 14, 'stopId': '58', 'schedule...","{'stopSequence': 15, 'stopId': '59', 'schedule...","{'stopSequence': 16, 'stopId': '61', 'schedule...",...,None,None,None,None,None,None,None,None,None,None
3,"{'stopSequence': 26, 'stopId': '29', 'schedule...","{'stopSequence': 27, 'stopId': '12603', 'sched...","{'stopSequence': 28, 'stopId': '30', 'schedule...","{'stopSequence': 29, 'stopId': '31', 'schedule...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,"{'stopSequence': 2, 'stopId': '378', 'schedule...","{'stopSequence': 3, 'stopId': '379', 'schedule...","{'stopSequence': 4, 'stopId': '12663', 'schedu...","{'stopSequence': 5, 'stopId': '1269', 'schedul...","{'stopSequence': 6, 'stopId': '1271', 'schedul...","{'stopSequence': 7, 'stopId': '1273', 'schedul...","{'stopSequence': 8, 'stopId': '1275', 'schedul...","{'stopSequence': 9, 'stopId': '1276', 'schedul...","{'stopSequence': 10, 'stopId': '1277', 'schedu...","{'stopSequence': 11, 'stopId': '1279', 'schedu...",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,"{'stopSequence': 1, 'stopId': '6984', 'schedul...","{'stopSequence': 2, 'stopId': '10854', 'schedu...","{'stopSequence': 3, 'stopId': '5991', 'schedul...","{'stopSequence': 4, 'stopId': '5992', 'schedul...","{'stopSequence': 5, 'stopId': '5993', 'schedul...","{'stopSequence': 6, 'stopId': '5994', 'schedul...","{'stopSequence': 7, 'stopId': '10707', 'schedu...","{'stopSequence': 8, 'stopId': '5996', 'schedul...","{'stopSequence': 9, 'stopId': '4936', 'schedul...","{'stopSequence': 10, 'stopId': '4937', 'schedu...",...,None,None,None,None,None,None,None,None,None,None
744,"{'stopSequence': 2, 'stopId': '8324', 'schedul...","{'stopSequence': 3, 'stopId': '11243', 'schedu...","{'stopSequence': 4, 'stopId': '11387', 'schedu...","{'stopSequence': 5, 'stopId': '11388', 'schedu...","{'stopSequence': 6, 'stopId': '11409', 'schedu...","{'stopSequence': 7, 'stopId': '11381', 'schedu...","{'stopSequence': 8, 'stopId': '8604', 'schedul...","{'stopSequence': 9, 'stopId': '11411', 'schedu...","{'stopSequence': 10, 'stopId': '6615', 'schedu...","{'stopSequence': 11, 'stopId': '6948', 'schedu...",...,None,None,None,None,None,None,None,None,None,None
745,"{'stopSequence': 1, 'stopId': '7743', 'schedul...","{'stopSequence': 2, 'stopId': '10874', 'schedu...","{'stopSequence': 3, 'stopId': '7132', 'schedul...","{'stopSequence': 4, 'stopId': '9592', 'schedul...","{'stopSequence': 5, 'stopId': '11847', 'schedu...","{'stopSequence': 6, 'stopId': '11802', 'schedu...","{'stopSequence': 7, 'stopId': '9597', 'schedul...","{'stopSequence': 8, 'stopId': '12188', 'schedu...","{'stopSequence': 9, 'stopId': '12189', 'schedu...","{'stopSequence': 10, 'stopId': '12190', 'sched...",...,None,None,None,None,None,None,None,None,None,None
746,"{'stopSequence': 1, 'stopId': '12361', 'schedu...","{'stopSequence': 2, 'stopId': '12652', 'schedu...","{'stopSequence': 3, 'stopId': '1896', 'schedul...","{'stopSequence': 4, 'stopId': '12625', 'schedu...","{'stopSequence': 5, 'stopId': '381', 'schedule...","{'stopSequence': 6, 'stopId': '12631', 'schedu...","{'stopSequence': 7, 'stopId': '199', 'schedule...","{'stopSequence': 8, 'stopId': '811', 'schedule...","{'stopSequence': 9, 'stopId': '12586', 'schedu...","{'stopSequence': 10, 'stopId': '255', 'schedul...",...,None,None,None,None,None,None,None,None,None,None
747,"{'stopSequence': 1, 'stopId': '12362', 'schedu...","{'stopSequence': 2, 'stopId': '1491', 'schedul...","{'stopSequence': 3, 'stopId': '11499', 'schedu...","{'stopSequence': 4, 'stopId': '1493', 'schedul...","{'stopSequence': 5, 'stopId': '11759', 'schedu...","{'stopSequence': 6, 'stopId': '11758', 'schedu...","{'stopSequence': 7, 'stopId': '1901', 'schedul...","{'stopSequence': 8, 'stopId': '1902', 'schedul...","{'stopSequence': 9, 'stopId': '1903', 'schedul...","{'stopSequence': 10, 'stopId': '1904', 'schedu...",...,None,None,None,None,None,None,None,None,None,None

In [8]:
stop_time.iloc[0,0]

{'stopSequence': 14,
 'stopId': '73',
 'scheduleRelationship': 'SCHEDULED',
 'arrival.delay': 1106,
 'arrival.time': '1730592639',
 'departure.delay': 1106,
 'departure.time': '1730592639'}

In [32]:
test = pd.json_normalize(stop_time.iloc[0,0])
test

,stopSequence,stopId,scheduleRelationship,arrival.delay,arrival.time,departure.delay,departure.time
0,14,73,SCHEDULED,1106,1730592639,1106,1730592639

In [42]:
test2 = pd.json_normalize(stop_time[0])
test2

,stopSequence,stopId,scheduleRelationship,arrival.delay,arrival.time,departure.delay,departure.time
0,14,73,SCHEDULED,1106.0,1730592639,1106.0,1730592639
1,10,10542,SKIPPED,NaN,NaN,NaN,NaN
2,7,1273,SCHEDULED,4149.0,1730592544,4149.0,1730592544
3,26,29,SCHEDULED,263.0,1730592637,263.0,1730592637
4,2,378,SCHEDULED,942.0,1730592535,942.0,1730592535
...,...,...,...,...,...,...,...
743,1,6984,SKIPPED,NaN,NaN,NaN,NaN
744,2,8324,SKIPPED,NaN,NaN,NaN,NaN
745,1,7743,SKIPPED,NaN,NaN,NaN,NaN
746,1,12361,SKIPPED,NaN,NaN,NaN,NaN
747,1,12362,SKIPPED,NaN,NaN,NaN,NaN